.jumbotron{
	
	color: black;
}
.jumbotron:hover{
	
	background-color:  rgb(0, 119, 255);
}

footer{
	padding: 10px 10px 0 10px;
	background-color: rgb(32, 179, 224);
	margin-bottom: 0px;
	margin-top: 10px;
}

footer:hover{
	background-color: rgb(0, 119, 255);
	color: whitesmoke;
}

footer > div > div> a{
	
	color: rgb(86, 139, 219);
}
 footer > div > div> a:hover{
	background-color: rgb(0, 119, 255);
	color: whitesmoke;
}

.ch{
	flex: 1 150px;
	padding: 2px 5px 5px 5px;
	margin-top: 10px;
}

.btn-re{
	width: 100%;

}